# IntelliJ Files
.idea/
build/
.gradle/
out/
*.iml

# Experiment Files
src/main/java/io/earlisreal/ejournal/Test.java

# Python Files
__pycache__/
*.spec

# eJournal Files
.eJournal/
eJournalDB/
tokens/

# Compiled class file
*.class
*.exe

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
